<div class="col-md-12">
  <form id="newTask">
    <div class="form-group form-horizontal form-group-lg">
      <input id="taskInput" name="task_name" type="text" class="form-control" placeholder="What's too due ?">
    </div>
  </form>
</div>
