<div class="col-md-5">
  <form id="register-form">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="_register_username" placeholder="username">
    </div>
    <div class="form-group">
      <label for="username">Email</label>
      <input type="email" class="form-control" id="_register_email" placeholder="Email">
    </div>
    <div class="form-group">
      <label for="username">First name</label>
      <input type="email" class="form-control" id="_register_firstname" placeholder="Foo">
    </div>
    <div class="form-group">
      <label for="username">Last name</label>
      <input type="email" class="form-control" id="_register_lastname" placeholder="Bar">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="_register_password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-default" id="register-submit">Sing up</button>
  </form>
</div>
