<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <style media="screen">
      body{
        display: none;
      }
    </style>
  </head>
  <body>
    <% include partials/_navbar %>
    <% include partials/_navbar_categories %>
    <div class="container-fluid login main">
      <% include partials/_login %>
    </div>
    <div class="container-fluid register main">
      <% include partials/_register %>
    </div>
    <div class="container-fluid tasks main">
     <ul>
       <li>Use "try", "eat" or "make to look for restaurants</li>
       <li>"watch", "see", "view" to look for movies</li>
       <li>"buy" and "purchase" to look for products</li>
       <li>"read", "study" to look for a book</li>
     </ul>
      <div class="row">
        <% include partials/_input %>
      </div>
      <div class="row">
        <ul class="list-group" id="tasks">
        </ul>
      </div>
    </div>
    <% include partials/_modals %>
  </body>
</html>
